h2, h3, p {
  font-family: helvetica;
  color: gray;
  text-align: left;
}

img {
  width: 190px;
  height: 120px;
  margin: 5px 0px 0px 0px;
}
.container {
  width: 86%;
  height: 670px;
  align-content: center;
  margin: 20px 80px 20px 80px;
  background: white;
}

.titulo {
  font-family: helvetica;
  color: gray;
  text-align: right;
}

.busqueda {
  text-align: right;
}

.scroll{
  height:590px;
  overflow-y: scroll;
}

.producto{
  border: 1px solid gray;
  margin: 5px;
  width: 220px;
}

.botonMas {
  color: white;
  float: lef t;
  background-color: #01579b;
  margin-bottom: 10px;
  height: 30px;
}

.botonAdd {
  color: white;
  background-color: #ff5722;
  margin-bottom: 10px;
  height: 30px;
}

.cant{
  width: 50px;
  height: 30px;
  float: right;
}
