h2, h3, p {
  font-family: helvetica;
  margin-left: 10px;
  color: gray;
  text-align: left;
}

img {
  width: 250px;
  height: 150px;
  margin: 10px;
}

.main{
  margin: 20px 150px 20px 150px;
  background: white;
  display: flex;
}
.contenedor {
  display: flex;
	flex-direction: row;
  padding: 50px;
  margin: 10px;
  text-align: center;
  width: 150%;
}
.botonMas {
  color: white;
  float: left;
  background-color: #01579b;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 30px;
}
.botonAdd {
  color: white;
  background-color: #ff5722;
  margin-bottom: 10px;
  height: 30px;
  float: right;
}
.contenedorfoto {
  border: solid 1px gray;
  margin: 5px;
}
.cant{
  float: right;
  width: 40px;
  height: 25px;
  margin-right: 10px;
}
