<section class="row main">
  <section>
    <h2>Catálogo de Productos</h2>
    <section class="contenedor">
      <div class="contenedorfoto">
        <div class="col1">
          <img src="../../../assets/img/aguacate.jpg"/>
          <h3>Aguacate</h3>
          <p>Precio: $1</p>
          <p>Cantidades disponibles: 15</p>
          <div class="row">
            <button class="botonMas" type="submit">Ver más</button>
            <button class="botonAdd" type="submit">Añadir</button>
            <input type="number" name="Cant" placeholder="1" required>
          </div>
        </div>
      </div>
      <div class="contenedorfoto">
        <div class="col2">
          <img src="../../../assets/img/ajo.jpg"/>
        </div>
      </div>
      <div class="contenedorfoto">
        <div class="col3">
          <img src="../../../assets/img/almendras.jpg"/>
        </div>
      </div>
      <div class="contenedorfoto">
        <div class="col4">
          <img src="../../../assets/img/arandanos.jpg"/>
        </div>
      </div>
    </section>
    <section class="contenedor">
      <div class="contenedorfoto">
        <div class="col1">
          <img src="../../../assets/img/brocoli.png"/>
        </div>
      </div>
      <div class="contenedorfoto">
        <div class="col2">
          <img src="../../../assets/img/calabaza.jpg"/>
        </div>
      </div>
      <div class="contenedorfoto">
        <div class="col3">
          <img src="../../../assets/img/canela.jpg"/>
        </div>
      </div>
      <div class="contenedorfoto">
        <div class="col4">
          <img src="../../../assets/img/cebolla.jpg"/>
        </div>
      </div>
    </section>
    <section class="contenedor">
      <div class="contenedorfoto">
        <div class="col1">
          <img src="../../../assets/img/fresa.jpg"/>
        </div>
      </div>
      <div class="contenedorfoto">
        <div class="col2">
          <img src="../../../assets/img/kiwi.jpg"/>
        </div>
      </div>
      <div class="contenedorfoto">
        <div class="col3">
          <img src="../../../assets/img/limon.jpg"/>
        </div>
      </div>
      <div class="contenedorfoto">
        <div class="col4">
          <img src="../../../assets/img/lychee.jpg"/>
        </div>
      </div>
    </section>
    <section class="contenedor">
      <div class="contenedorfoto">
        <div class="col1">
          <img src="../../../assets/img/maiz.jpg"/>
        </div>
      </div>
      <div class="contenedorfoto">
        <div class="col2">
          <img src="../../../assets/img/manzana.jpg"/>
        </div>
      </div>
      <div class="contenedorfoto">
        <div class="col3">
          <img src="../../../assets/img/naranja.jpg"/>
        </div>
      </div>
      <div class="contenedorfoto">
        <div class="col4">
          <img src="../../../assets/img/papa.jpg"/>
        </div>
      </div>
    </section>
    <section class="contenedor">
      <div class="contenedorfoto">
        <div class="col1">
          <img src="../../../assets/img/pasta.jpg"/>
        </div>
      </div>
      <div class="contenedorfoto">
        <div class="col2">
          <img src="../../../assets/img/pimienta.jpg"/>
        </div>
      </div>
      <div class="contenedorfoto">
        <div class="col3">
          <img src="../../../assets/img/repollo.jpg"/>
        </div>
      </div>
      <div class="contenedorfoto">
        <div class="col4">
          <img src="../../../assets/img/tomate.jpg"/>
        </div>
      </div>
    </section>
  </section>
</section>
