<div class="container">
  <h2>Catálogo de Productos</h2>
  <div class="row col-md-3 producto" *ngFor="let prod of productos">
    <div>
      <img src={{prod.Ruta}}/>
      <h3>{{prod.Nombre}}</h3>
      <p>Precio: {{prod.Precio}}</p>
      <p>Cantidades disponibles: {{prod.CantDisp}}</p>
      <button class="botonMas" routerLink="/navegacion/producto">Ver más</button>
      <input type="number" class="cant" name="Cant" min=1 placeholder="1" required>
      <button class="botonAdd" type="submit">Añadir</button>
    </div>
  </div>
</div>
