<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Catálogo de Productos</h2>
    </div>
    <div class="col-md-6 busqueda">
      <label for="search" class="titulo">Que estás buscando?</label><br>
      <input type="text" [(ngModel)]="name" (ngModelChange)="reSearch(name)" placeholder="Buscar Producto"/>
    </div>
  </div>
  <div class="scroll">
    <div class="row col-md-3 producto" *ngFor="let prod of productos">
      <div>
        <img src={{prod.Ruta}}/>
        <h3>{{prod.Nombre}}</h3>
        <p>Precio: {{prod.Precio}}</p>
        <p>Cantidades disponibles: {{prod.CantDisp}}</p>
        <button class="botonMas" [routerLink]="['/navegacion/producto',prod.Nombre,prod.Ruta,prod.Precio,prod.CantDisp]">Ver más</button>
        <input type="number" class="cant" name="Cant" min=1 placeholder="1" required #input>
        <button class="botonAdd" (click)="addProd(prod.Nombre,prod.Ruta,prod.CantDisp,prod.Precio,input.value)">Añadir</button>
      </div>
    </div>
  </div>
</div>
