body{
  background-image: url("../../../assets/img/login-fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.container{
  height: 100%;
  align-content: center;
}

.card{
  margin-top: auto;
  margin-bottom: auto;
  height: 700px;
  width: 400px;
}

form{
  text-align: center;
  margin-top: 250px;
}

.btn-container{
  display: flex;
  justify-content: center;
}

h4 {
  font-size: 20px;
  color: white;
  font-family: cursive;
}

.row-titulo{
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: cursive;
}

.row-contenido {
  text-align: center;
  font-size: 16px;
  font-family: cursive;
}

input.ng-touched.ng-invalid{
  border: 1px solid red;
}
