<body>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="enviarForm(f)"#f="ngForm">
            <h4>Inicia sesión</h4>
            <div class="row align-center">
              <div class="row-titulo">
                <label>Correo Electrónico</label>
              </div>
              <div class="row-contenido">
                <input type="text" id="user" ngModel name="user" required>
              </div>
              <div class="row-titulo">
                <label>Contraseña</label>
              </div>
              <div class="row-contenido">
                <input type="password" id="password" ngModel name="password" required>
              </div>
            </div>
            <div class="col m7 btn-container">
              <button type="submit" class="button">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
