.fondo-principal {
  background-image: url("../../../assets/img/main-fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.barra-navegacion{
  margin: 0px 80px 0px 80px;
  background: white;
}

h4{
  font-family: helvetica;
  margin-left: 10px;
  color: gray;
}

nav {
  text-align: right;
  margin-right: 30px;
}
